@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

button {
    padding: 9px 25px;
    background-color: #E63E6D;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    border-color: #E63E6D;
    background-color: #be384c;
    transition: all 0.3s ease 0s;
}

li, a, button {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.request-form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(red, green, blue, alpha);
    background: #ffffff;
    padding: 25px 30px;
}

.container {
    max-width: 700px;
    width: 100%;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 5px;

}