body{
    background-color: lightgray;
    margin: 0px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    background-color: #E63E6D;
    overflow: hidden;
}
.topbar a{
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}
.topbar a:hover{
    text-decoration: underline;
}
.topbar img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin: auto;
}
.sidebar{
    background-color: whitesmoke;
    position: relative;
    width: 300px;
    height: 100vh;
    left: 189px;
}
.sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}
.sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
.sidebar .profile h3{
    color: darkgrey;
    margin: 10px 0 5px;
}
.sidebar ul{    
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li a{
    display: block;
    padding: 13px 0;
    color: black;
    font-size: 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
}
.sidebar ul li a:hover,
.sidebar ul li a.active{
    background-color: #F8584D;
    color: white;
}

