body{
    background-color: #f3f3f3;
    margin: 0px;
    padding-top: 108.33px
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #FF9999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 108.33px;
    z-index: 1;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Page Content */

.wrapper{
    display: flex;
    border-radius: 20px;
    margin: 10px;
}

/* Sidebar */

.sidebar{
    background-image: linear-gradient(#ff9898, #ffc7c7);
    position: relative;
    width: 335px;
    height: 600px;
    margin-left: 225px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.sidebar .profile img{
    padding-top: 10px;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.sidebar .profile h3{
    color: #FEE3EC;
    margin: 10px 0 5px;
    padding: 5px;
}

.sidebar ul{    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li a{
    display: block;
    padding: 13px 0;
    border-bottom: 1px solid rgb(255, 143, 143);
    color: black;
    font-size: 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
}

.sidebar ul li a:hover,
.sidebar ul li a.active{
    background-color: #F8584D;
    color: white;
}

/* Sidebar Content */

.card_body{
    flex-grow: 100;
    margin-right: 225px;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;  
}

.card_body .info h1{
    margin-bottom: 50px;
    margin-top: 35px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.card_body .info .info_data{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;   
}

.card_body .info .info_data .data h3{
    color: #353c4e;
    margin-bottom: 5px;
    display: table;
}

.card_body .info .info_data .data p{
    font-size: 15px;
    margin-bottom: 10px;
    color: #919aa3;
    display: table-cell;
    text-align: left;
    padding-top: 10px; 
}

/* Toggle Switch For Notification */

.switch {
    position: relative;
    display: table-cell;
    vertical-align: middle;    
    text-align: right;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}

/* Timetable */

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 600px;
    height: 350px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px 2px;
}