@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.login_box {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.collapse {
    font-size: 2em;
    margin-right: 5em;
}

.nav-item {
    padding-left: 2em;
}

#logout {
    margin-left: 2em;
}

/* Logo */
.logo {
    width: 5em;
    height: 5em;
}

/* Login CSS */
.login_page {
    background-color: rgba(189, 74, 118, 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


button {
    padding: 9px 25px;
    background-color: #E63E6D;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    border-color: #E63E6D;
    background-color: #be384c;
    transition: all 0.3s ease 0s;
}

.request-form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(red, green, blue, alpha);
    background: #ffffff;
    padding: 25px 30px;
}

.container {
    max-width: 700px;
    width: 100%;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 5px;

}