/* Page Container */
.wrapper{
    display: flex;
    border-radius: 20px;
    margin: 10px;
}

/* Sidebar Content */
.card_body{
    flex-grow: 100;
    margin-right: 225px;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;  
}
.info h1{
    margin-bottom: 50px;
    margin-top: 35px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}
.info_data{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.data{
    width: 100%;
    margin-left: 10%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.data h3{
    color: #353c4e;
    margin-bottom: 5px;
    display: table;
    font-size: 24px;    
    padding-top: 10px;
}
.data p{
    font-size: 20px;
    color: #919aa3;
    display: table-cell;
    text-align: left;
}
.data p span{
    line-height: 1.5em;
    height: 3em;
}
/* Toggle Switch For Notification */
.switch {
    position: relative;
    display: table-cell;
    vertical-align: middle;    
    text-align: right;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}  
input:checked + .slider:before {
    transform: translateX(26px);
}
/* Timetable */
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 600px;
    height: 350px;
    margin:auto;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
}
/* Timetable Button */
  
.button {
    background-color: white;
    color: #cc3636;
    font-size: 1em;
    padding: 8px 14px;
    border: 1px solid #750000;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #cc3636;
    color: white;
}
  
/* Overlay (When popup shows)  */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
 
/* Popup */
.popup {
    margin: 200px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 15px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
/* Appointment Status Tabs */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    width: 25%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    transition: 0.3s;
    font-size: large;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;    
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}
.tabcontent .a_info {
    line-height: 0px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5px;
}
.tabcontent .a_info h3{
    font-size: 25px;
    padding-left: 4px;
}
.tabcontent .a_info h4{
    font-size: 18px;
    color: #767676;    
    padding-left: 2px;
}
.tabcontent .a_info p{
    margin-top: -7px;
}
.tabcontent .a_info h5,h6{
    margin-top: -3px;
    color: #0075FF;
    font-size: 16px;    
    letter-spacing: 1px;
    margin-bottom: 7px;
    width: auto;    
}